:local .Page {
  display:flex;
  flex: 1 1 auto;
}

:local .InputField {
  width:100%;
  height:5em;
  border:1px solid red;
}

:local .Sidebar {
  background:red;
  width:200px;
}

:local .Content {
  flex: 1 1 auto;
  display:flex;
  flex-direction:column;
}

:local .zool {
  height: 100%;
  background: yellow;
}

:local .error {
  background: red;
}

:local .preview {
  display:flex;
  flex: 1 1 auto;
}

:local .ExampleQuery:hover {
  cursor: pointer;
}
