:local .root {
  /*background:#eee; */
}

:local text {
  stroke: none;
}

:local .point circle {
  r:4;
  stroke-width:0;
}

:local .point:hover circle {
  stroke-width:5;
  fill:transparent;
  r:8;
}

:local .point .label {
  stroke:transparent;
  display:none;
  transform: translateY(-12px);
  font-size:10px;
}

:local .point:hover .label {
  display:inline;
}

:local .hot:hover {
  cursor: pointer;
}

:local .i0 {
  fill:magenta;
  stroke:magenta;
}

:local .i1 {
  fill:red;
  stroke:red;
}

:local .i2 {
  fill:blue;
  stroke:blue;
}

:local .i3 {
  fill:green;
  stroke:green;
}

:local .i4 {
  fill:yellow;
}

:local .i5 {
  fill:purple;
}

:local .i6 {
  fill:pink;
}

:local .line {
  fill:transparent;
}

:local .hot.line:hover {
  stroke-width:3;
}

:local .axis {
  stroke: #444;
}

:local .axis text {
  font-size: 12px;
  font-weight: bold;
}

:local .axis-bottom {
  transform: translate(0, 10px);
}

:local .axis-left {
  transform: translate(-10px, 0);
}

:local .axis-left .tick text {
  transform: translate(-1.5em, .25em);
}

:local .axis-bottom .tick text {
  transform: translate(0, 1em);
}

:local .tick text {
  text-align: center;
}
