:local .root {
  width:150px;
  background:orange;
}

:local .point {
  r:4;
}

:local .point:hover {
  r:8;
}

:local .point.i1 {
  fill:red;
}

:local .point.i2 {
  fill:blue;
}

:local .point.i3 {
  fill:green;
}

:local .point.i4 {
  fill:yellow;
}
