:local .root {
  background:#eee;
}

:local .point circle {
  r:4;
  stroke-width:0;
}

:local .point:hover circle {
  stroke-width:4;
  fill:transparent;
  r:6;
}

:local .point .label {
  stroke:transparent;
  display:none;
}

:local .point:hover .label {
  display:inline;
}

:local .hot:hover {
  cursor: pointer;
}

:local .i0 {
  fill:magenta;
  stroke:magenta;
}

:local .i1 {
  fill:red;
  stroke:red;
}

:local .i2 {
  fill:blue;
  stroke:blue;
}

:local .i3 {
  fill:green;
  stroke:green;
}

:local .i4 {
  fill:yellow;
}

:local .i5 {
  fill:purple;
}

:local .i6 {
  fill:pink;
}

:local .line {
  fill:transparent;
}

:local .line:hover {
  stroke-width:3;
}

:local .axis {
  stroke: #444;
}
